@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --nav-bg: --text-color;
}

[data-theme="dark"] {
  --bg-color: #1b1429;
  --text-color: #ffffff;
  --nav-bg: #2a223d;
}
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
}
